ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 200px;
}

li {
    background-color: #54c58d;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
}

a {
    text-decoration: none;
}


table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

th {
    background-color: #54c58d;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
}

img {
    display: block;
    margin: 0 auto;
    width: 100px;
}