form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #555555;
    text-align: center;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: white;
}

th {
    background-color: black;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}